absl-py==0.7.0
astor==0.7.1
bcrypt==3.1.6
blinker==1.4
certifi==2018.11.29
cffi==1.11.5
chardet==3.0.4
Click==7.0
cloudinary==1.15.0
dnspython==1.16.0
Flask==1.0.2
Flask-Bcrypt==0.7.1
Flask-Login==0.4.1
Flask-Mail==0.9.1
Flask-PyMongo==2.2.0
Flask-SQLAlchemy==2.3.2
Flask-Track-Usage==2.0.0
Flask-WTF==0.14.2
gast==0.2.2
grpcio==1.18.0
gunicorn==19.9.0
h5py==2.9.0
idna==2.8
itsdangerous==1.1.0
Jinja2==2.10
Keras==2.2.4
Keras-Applications==1.0.7
Keras-Preprocessing==1.0.6
Markdown==3.0.1
MarkupSafe==1.1.0
mock==2.0.0
numpy==1.16.0
pandas==0.24.0
pbr==5.1.2
Pillow==5.4.1
protobuf==3.6.1
pycparser==2.19
pymongo==3.7.2
python-dateutil==2.7.5
pytz==2018.9
PyYAML==3.13
redis==3.1.0
requests==2.21.0
rq==0.13.0
scipy==1.2.0
six==1.12.0
SQLAlchemy==1.2.17
tensorboard==1.9.0
tensorflow==2.5.0
termcolor==1.1.0
urllib3==1.24.1
Werkzeug==0.14.1
wincertstore==0.2
WTForms==2.2.1
