{% extends "layout.html" %}
{% block content %}
    <div class="container">
        <div class="jumbotron jumbotron-fluid rounded bg-success">
            <div class="row">
                <div class="col-md-6">
                    <img class="rounded-pill m-5 profile" src="{{ profile_picture }}" alt="Profile Picture" width="400px">
                </div>
                <div class="col-md-6">
                    <h1 class="display-4 text-dark m-2">Hi, I'm Evan Beese</h1>
                    <h5 class="text-dark m-2">Collegiately educated at the baccalaureate level on the science of Hospitality Management,
                        but my path has since diverged towards a data-driven ethos. I eat it, I breathe it, I live it! I have become
                        fluent in Python, Javascript, SQL, VBA, and Excel over the past 6 years.
                    </h5>
                    <h5 class="text-dark m-2">
                        Those who know me around the office affectionately call me "The Wizard" due to the magic of my programmatic
                        creations. 2018 "Team Member Innovation Spirit Award" nominee; 2018 "Localsphere Innovation Award" nominee;
                        2017 "Rookie of the Year" award nominee and winner; 2015 "Gold Coin Award" recipient.
                    </h5>
                    <h5 class="text-dark m-2">
                        I see myself as a life-long learner. In addition to my role as an Operations Analyst at Wells Fargo, I teach
                        part-time at the University of Minnesota for a Data Visualization and Data Analytics bootcamp. Join me in
                        creating pretty visualizations.
                    </h5>
                    <h5 class="text-dark m-2">
                        Avid biker even when the weather dips into the single digits. My other passions include my dog, playing guitar,
                        and of course programming.
                    </h5>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}