{% extends "layout.html" %}
{% block content %}
    <div class="container">
        <div class="jumbotron jumbotron-fluid rounded bg-success">
            <div class="row">
                <div class="col-md-4">
                    Teach concepts in various industry leading open source technologies
                </div>
                <div class="col-md-4">
                    
                </div>
                <div class="col-md-4">
                    
                </div>
            </div>
        </div>
    </div>
{% endblock content %}